USE [master]
GO
/****** Object:  Database [wmsApp-Refactor-back]    Script Date: 8/21/2019 3:20:07 PM ******/
CREATE DATABASE [wmsApp-Refactor-back]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wmsApp-Refactor-back', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\wmsApp-Refactor-back.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wmsApp-Refactor-back_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\wmsApp-Refactor-back_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wmsApp-Refactor-back].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wmsApp-Refactor-back]
GO
/****** Object:  Table [dbo].[BusinessUnits]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BusinessUnits](
	[CompanyId] [int] NOT NULL,
	[BusinessUnitId] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[ContactNo] [varchar](50) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Address] [varchar](255) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[StatusId] [tinyint] NULL,
 CONSTRAINT [PK_BusinessUnitInfo] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[BusinessUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[City]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[StatusId] [tinyint] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[NTN] [varchar](50) NOT NULL,
	[STRN] [varchar](50) NOT NULL,
	[ContactNo] [varchar](50) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Address] [varchar](255) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[GST] [float] NOT NULL,
	[Logo] [image] NULL,
	[ShowName] [bit] NOT NULL CONSTRAINT [DF_Company_ShowName_1]  DEFAULT ((0)),
	[ShowLogo] [bit] NOT NULL CONSTRAINT [DF_Company_ShowLogo_1]  DEFAULT ((0)),
	[LastModifiedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[StatusId] [tinyint] NULL,
 CONSTRAINT [PK_CompanyInfo] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Currency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyRate] [float] NULL,
	[Name] [varchar](50) NOT NULL,
	[Symbol] [varchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[StatusId] [tinyint] NOT NULL,
 CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[BusinessUnitId] [int] NOT NULL,
	[RegionId] [int] NULL,
	[ZoneId] [int] NULL,
	[Name] [varchar](255) NOT NULL,
	[BusinessLine] [nvarchar](50) NULL,
	[Discount] [float] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[ContactPerson] [varchar](255) NOT NULL,
	[Phone] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
	[FaxNo] [varchar](50) NOT NULL,
	[AccountNo] [varchar](50) NULL,
	[NTN] [varchar](50) NULL,
	[STRN] [varchar](50) NULL,
	[CNIC] [varchar](50) NULL,
	[AccountCode] [varchar](50) NULL,
	[RegDate] [datetime] NULL,
	[Remarks] [varchar](max) NULL,
	[Address] [varchar](255) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Region] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[CreditLimit] [float] NULL,
	[StatusId] [tinyint] NULL,
	[Abbreviation] [varchar](5) NOT NULL,
 CONSTRAINT [PK__Customer__3214EC0750D5C755] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FinancialYearDefination]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinancialYearDefination](
	[Id] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[BusinessUnitId] [int] NOT NULL,
	[FYearTitle] [varchar](50) NOT NULL,
	[FYearStartDate] [datetime] NOT NULL,
	[FYearEndDate] [datetime] NOT NULL,
	[FYearActive] [bit] NULL,
	[FYearLocked] [bit] NULL,
	[StatusId] [tinyint] NULL,
 CONSTRAINT [PK_FinancialYear] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FleetService]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FleetService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [varchar](100) NOT NULL,
	[ServiceType] [varchar](50) NOT NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[StatusId] [tinyint] NULL,
	[UnitOfMeasurement] [varchar](50) NULL,
 CONSTRAINT [PK_FleetService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleCategory]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModuleCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](70) NULL,
	[moduleId] [int] NULL,
	[CssClass] [varchar](50) NULL,
	[OrderBy] [float] NULL,
	[Project] [varchar](3) NULL,
 CONSTRAINT [PK_ModuleCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleForms]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModuleForms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[formName] [varchar](70) NULL,
	[formAlias] [varchar](70) NULL,
	[moduleId] [int] NULL,
	[moduleCategoryId] [int] NULL,
	[Navigation] [bit] NULL,
	[OrderBy] [float] NULL,
	[Project] [varchar](3) NULL,
	[IconClass] [varchar](50) NULL,
 CONSTRAINT [PK_ModuleForms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[OrderBy] [float] NULL,
	[Project] [varchar](3) NULL,
	[Color] [varchar](50) NULL,
	[Icon] [varchar](50) NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Province]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Province](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Abbreviation] [varchar](50) NULL,
	[CompanyId] [int] NULL,
	[BusinessUnitId] [int] NULL,
	[CountryId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[StatusId] [tinyint] NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Region]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Region](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Abbreviation] [varchar](50) NULL,
	[ProvinceId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[BusinessUnitId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[StatusId] [tinyint] NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[createdBy] [uniqueidentifier] NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [uniqueidentifier] NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RolesToUser]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesToUser](
	[Login] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NULL,
	[createdBy] [uniqueidentifier] NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [uniqueidentifier] NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_RolesToUser] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tender]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessUnitId] [int] NULL,
	[CompanyId] [int] NULL,
	[TenderReference] [varchar](50) NULL,
	[CustomerId] [int] NULL,
	[IssuanceDate] [datetime] NOT NULL,
	[TenderSource] [varchar](50) NULL,
	[TenderTerm] [varchar](50) NULL,
	[TenderNo] [varchar](100) NULL,
	[StatusId] [tinyint] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ProceedStatus] [tinyint] NULL,
 CONSTRAINT [PK_Tender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TenderChild]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TenderChild](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [varchar](50) NULL,
	[CustomerId] [int] NULL,
	[TenderId] [int] NOT NULL,
	[VehicleId] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[FleetServiceId] [int] NULL,
	[TenderDetailId] [int] NULL,
 CONSTRAINT [PK_TenderChild] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TenderDetail]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TenderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[DestinationToId] [int] NULL,
	[DestinationToName] [varchar](50) NULL,
	[DestinationFromId] [int] NULL,
	[DestinationFromName] [varchar](50) NULL,
	[ItemCode] [varchar](50) NULL,
	[ProvinceId] [int] NOT NULL,
	[ProvinceName] [varchar](50) NULL,
 CONSTRAINT [PK_TenderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Units]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Units](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessUnitId] [int] NULL,
	[Title] [varchar](25) NULL,
	[UnitMeasure] [varchar](50) NOT NULL,
	[Abbreviation] [varchar](50) NOT NULL,
	[LastModifiedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[StatusId] [tinyint] NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[UnitMeasure] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[OldPassword] [varchar](50) NOT NULL,
	[NewPassword] [varchar](50) NOT NULL,
	[ConfirmPassword] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_UserRegistration] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NULL,
	[Weight] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[BusinessUnitId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[StatusId] [tinyint] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendor](
	[CompanyId] [int] NOT NULL,
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [varchar](50) NOT NULL,
	[VendorType] [varchar](50) NULL,
	[ContactPerson] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[MobileNumber] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[FaxNo] [varchar](50) NULL,
	[CNIC] [varchar](50) NULL,
	[AccountNo] [varchar](50) NULL,
	[NTN] [varchar](50) NULL,
	[STRN] [varchar](50) NULL,
	[CurrencyId] [int] NOT NULL,
	[NatureOfBusinessId] [int] NULL,
	[TypeOfBusinessId] [int] NULL,
	[YearEstablished] [int] NULL,
	[Address] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Remarks] [varchar](max) NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[CopyStatus] [bit] NULL,
	[StatusId] [tinyint] NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VendorQuotation]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VendorQuotation](
	[VendorQuotationId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessUnitId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[VendorId] [int] NOT NULL,
	[TenderId] [int] NOT NULL,
	[StatusId] [tinyint] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VendorQuotation] PRIMARY KEY CLUSTERED 
(
	[VendorQuotationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VendorQuotationChild]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VendorQuotationChild](
	[VendorQuotationChildId] [int] IDENTITY(1,1) NOT NULL,
	[VendorQuotationId] [int] NOT NULL,
	[ItemCode] [varchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_VendorQuotationChild] PRIMARY KEY CLUSTERED 
(
	[VendorQuotationChildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VendorQuotationDetail]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VendorQuotationDetail](
	[VendorQuotationDetailId] [int] IDENTITY(1,1) NOT NULL,
	[VendorQuotationId] [int] NOT NULL,
	[VendorId] [int] NOT NULL,
	[ItemCode] [varchar](50) NULL,
	[DestinationToId] [int] NULL,
	[DestinationToName] [varchar](50) NULL,
	[DestinationFromId] [int] NULL,
	[DestinationFromName] [varchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_VendorQuotationDetail] PRIMARY KEY CLUSTERED 
(
	[VendorQuotationDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VendorsBusinessNature]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VendorsBusinessNature](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[BNatureName] [varchar](50) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[StatusId] [tinyint] NULL,
 CONSTRAINT [PK_inv_VendorsBusinessNature] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VendorsOrgType]    Script Date: 8/21/2019 3:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VendorsOrgType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[OrgTypeName] [varchar](50) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[StatusId] [tinyint] NULL,
 CONSTRAINT [PK_inv_VendorsOrgType_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BusinessUnits] ([CompanyId], [BusinessUnitId], [Name], [ContactNo], [Email], [Address], [City], [State], [Country], [LastModifiedDate], [LastModifiedBy], [CreatedOn], [CreatedBy], [StatusId]) VALUES (1, 1, N'General - ALLIED FACTORY', N'042', N'abc@nothing.com', N'Lahore', N'Lahore', N'Punjab', N'Pakistan', CAST(N'2016-11-24 13:13:40.513' AS DateTime), N'88ed6905-0990-455f-9855-246889935ea9', CAST(N'2016-11-24 13:13:40.513' AS DateTime), N'88ed6905-0990-455f-9855-246889935ea9', 1)
INSERT [dbo].[BusinessUnits] ([CompanyId], [BusinessUnitId], [Name], [ContactNo], [Email], [Address], [City], [State], [Country], [LastModifiedDate], [LastModifiedBy], [CreatedOn], [CreatedBy], [StatusId]) VALUES (2, 1, N'General - Allied Steel Works (Pvt) Ltd', N'042', N'abc@nothing.com', N'Lahore', N'Lahore', N'Punjab', N'Pakistan', CAST(N'2016-11-24 13:13:40.513' AS DateTime), N'88ed6905-0990-455f-9855-246889935ea9', CAST(N'2016-11-24 13:13:40.513' AS DateTime), N'88ed6905-0990-455f-9855-246889935ea9', 1)
INSERT [dbo].[BusinessUnits] ([CompanyId], [BusinessUnitId], [Name], [ContactNo], [Email], [Address], [City], [State], [Country], [LastModifiedDate], [LastModifiedBy], [CreatedOn], [CreatedBy], [StatusId]) VALUES (3, 1, N'General - Allied Engineering Products Services', N'042', N'abc@nothing.com', N'Lahore', N'Lahore', N'Punjab', N'Pakistan', CAST(N'2016-11-24 13:13:40.513' AS DateTime), N'88ed6905-0990-455f-9855-246889935ea9', CAST(N'2016-11-24 13:13:40.513' AS DateTime), N'88ed6905-0990-455f-9855-246889935ea9', 1)
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name], [ProvinceId], [StatusId], [CreatedOn], [LastModifiedBy], [LastModifiedDate], [CreatedBy]) VALUES (3, N'Lahore', 1, 1, CAST(N'2019-07-29 12:28:07.040' AS DateTime), N'1', CAST(N'2019-07-29 12:28:07.040' AS DateTime), N'1')
INSERT [dbo].[City] ([Id], [Name], [ProvinceId], [StatusId], [CreatedOn], [LastModifiedBy], [LastModifiedDate], [CreatedBy]) VALUES (4, N'Faislabad', 1, 1, CAST(N'2019-07-29 12:28:24.530' AS DateTime), N'1', CAST(N'2019-07-29 12:28:24.530' AS DateTime), N'1')
INSERT [dbo].[City] ([Id], [Name], [ProvinceId], [StatusId], [CreatedOn], [LastModifiedBy], [LastModifiedDate], [CreatedBy]) VALUES (5, N'DGKHAN', 1, 1, CAST(N'2019-07-29 12:28:37.880' AS DateTime), N'1', CAST(N'2019-07-29 12:28:37.880' AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[City] OFF
INSERT [dbo].[Company] ([CompanyId], [Name], [NTN], [STRN], [ContactNo], [Email], [Address], [City], [State], [Country], [GST], [Logo], [ShowName], [ShowLogo], [LastModifiedBy], [CreatedOn], [CreatedBy], [LastModifiedDate], [StatusId]) VALUES (1, N'ALLIED FACTORY', N'22323434', N'0000', N'0322-4454417', N'aeps.auto@gmail.com', N'Opp Wasa Disposal, Shad Bagh, Ring Road,', N'Lahore', N'Punjab', N'Pakistan', 0, NULL, 0, 0, N'88ed6905-0990-455f-9855-246889935ea9', CAST(N'2018-07-27 10:35:21.523' AS DateTime), N'88ed6905-0990-455f-9855-246889935ea9', CAST(N'2018-07-27 10:35:21.523' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Customers] ON 

SET IDENTITY_INSERT [dbo].[Customers] OFF
INSERT [dbo].[FinancialYearDefination] ([Id], [CompanyId], [BusinessUnitId], [FYearTitle], [FYearStartDate], [FYearEndDate], [FYearActive], [FYearLocked], [StatusId]) VALUES (1, 1, 1, N'2017', CAST(N'2011-11-11 00:00:00.000' AS DateTime), CAST(N'2011-11-11 00:00:00.000' AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[FleetService] ON 

INSERT [dbo].[FleetService] ([Id], [ServiceName], [ServiceType], [LastModifiedBy], [CreatedOn], [CreatedBy], [LastModifiedDate], [StatusId], [UnitOfMeasurement]) VALUES (1, N'On Loading test', N'On Loading Service test', N'1', CAST(N'2019-07-26 11:28:40.353' AS DateTime), N'1', CAST(N'2019-07-30 12:53:10.057' AS DateTime), 1, N'43431')
INSERT [dbo].[FleetService] ([Id], [ServiceName], [ServiceType], [LastModifiedBy], [CreatedOn], [CreatedBy], [LastModifiedDate], [StatusId], [UnitOfMeasurement]) VALUES (2, N'Of Loading', N'Of Loading Service', N'1', CAST(N'2019-07-26 11:30:14.003' AS DateTime), N'1', CAST(N'2019-07-26 11:31:06.577' AS DateTime), 1, N'897')
INSERT [dbo].[FleetService] ([Id], [ServiceName], [ServiceType], [LastModifiedBy], [CreatedOn], [CreatedBy], [LastModifiedDate], [StatusId], [UnitOfMeasurement]) VALUES (3, N'Driver', N'driver', N'1', CAST(N'2019-07-26 11:30:14.003' AS DateTime), N'1', CAST(N'2019-07-26 11:31:06.577' AS DateTime), 1, N'897')
SET IDENTITY_INSERT [dbo].[FleetService] OFF
SET IDENTITY_INSERT [dbo].[ModuleForms] ON 

INSERT [dbo].[ModuleForms] ([id], [formName], [formAlias], [moduleId], [moduleCategoryId], [Navigation], [OrderBy], [Project], [IconClass]) VALUES (1, N'/customers/list', N'Customers', 1, 1, 1, 1, N'tes', N'fa fa-users')
INSERT [dbo].[ModuleForms] ([id], [formName], [formAlias], [moduleId], [moduleCategoryId], [Navigation], [OrderBy], [Project], [IconClass]) VALUES (2, N'/vendors/list', N'Vendors', 1, 1, 1, 2, N'tes', N'fa fa-users')
INSERT [dbo].[ModuleForms] ([id], [formName], [formAlias], [moduleId], [moduleCategoryId], [Navigation], [OrderBy], [Project], [IconClass]) VALUES (3, N'/units/list', N'Units', 1, 1, 1, 3, N'tes', N'fa fa-building')
SET IDENTITY_INSERT [dbo].[ModuleForms] OFF
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([Id], [Name], [Abbreviation], [CompanyId], [BusinessUnitId], [CountryId], [CreatedOn], [LastModifiedBy], [LastModifiedDate], [CreatedBy], [StatusId]) VALUES (1, N'Punjab', N'PU', 1, 1, 0, CAST(N'2019-07-24 13:03:56.807' AS DateTime), N'1', CAST(N'2019-07-24 13:13:23.020' AS DateTime), N'1', 1)
INSERT [dbo].[Province] ([Id], [Name], [Abbreviation], [CompanyId], [BusinessUnitId], [CountryId], [CreatedOn], [LastModifiedBy], [LastModifiedDate], [CreatedBy], [StatusId]) VALUES (2, N'Singhi', N'SD', 1, 1, 0, CAST(N'2019-07-24 13:04:53.423' AS DateTime), N'1', CAST(N'2019-07-25 01:47:44.187' AS DateTime), N'1', 1)
INSERT [dbo].[Province] ([Id], [Name], [Abbreviation], [CompanyId], [BusinessUnitId], [CountryId], [CreatedOn], [LastModifiedBy], [LastModifiedDate], [CreatedBy], [StatusId]) VALUES (3, N'Khaiber pakhtoon khan', N'KPK', 1, 1, 0, CAST(N'2019-07-24 13:12:57.847' AS DateTime), N'1', CAST(N'2019-07-25 01:48:36.420' AS DateTime), N'1', 1)
SET IDENTITY_INSERT [dbo].[Province] OFF
SET IDENTITY_INSERT [dbo].[Tender] ON 

INSERT [dbo].[Tender] ([Id], [BusinessUnitId], [CompanyId], [TenderReference], [CustomerId], [IssuanceDate], [TenderSource], [TenderTerm], [TenderNo], [StatusId], [LastModifiedBy], [LastModifiedDate], [CreatedOn], [CreatedBy], [ProceedStatus]) VALUES (30, 1, 1, N'test', 1, CAST(N'2019-07-29 00:00:00.000' AS DateTime), N'tet', N'tet', N'FRH-1', 1, N'1', CAST(N'2019-08-21 00:36:14.250' AS DateTime), CAST(N'2019-08-21 00:36:14.250' AS DateTime), N'1', 2)
INSERT [dbo].[Tender] ([Id], [BusinessUnitId], [CompanyId], [TenderReference], [CustomerId], [IssuanceDate], [TenderSource], [TenderTerm], [TenderNo], [StatusId], [LastModifiedBy], [LastModifiedDate], [CreatedOn], [CreatedBy], [ProceedStatus]) VALUES (31, 1, 1, N'test', 1, CAST(N'2019-07-29 00:00:00.000' AS DateTime), N'test', N'test', N'FRH-2', 1, N'1', CAST(N'2019-08-21 00:36:39.023' AS DateTime), CAST(N'2019-08-21 00:36:39.023' AS DateTime), N'1', 3)
INSERT [dbo].[Tender] ([Id], [BusinessUnitId], [CompanyId], [TenderReference], [CustomerId], [IssuanceDate], [TenderSource], [TenderTerm], [TenderNo], [StatusId], [LastModifiedBy], [LastModifiedDate], [CreatedOn], [CreatedBy], [ProceedStatus]) VALUES (32, 1, 1, N'tet', 1, CAST(N'2019-07-29 00:00:00.000' AS DateTime), N'tet', N'test', N'FRH-3', 1, N'1', CAST(N'2019-08-21 00:36:56.947' AS DateTime), CAST(N'2019-08-21 00:36:56.947' AS DateTime), N'1', 1)
SET IDENTITY_INSERT [dbo].[Tender] OFF
SET IDENTITY_INSERT [dbo].[TenderChild] ON 

INSERT [dbo].[TenderChild] ([Id], [ItemCode], [CustomerId], [TenderId], [VehicleId], [Amount], [FleetServiceId], [TenderDetailId]) VALUES (284, N'FRH-1-1', 1, 30, NULL, CAST(11.00 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[TenderChild] ([Id], [ItemCode], [CustomerId], [TenderId], [VehicleId], [Amount], [FleetServiceId], [TenderDetailId]) VALUES (285, N'FRH-1-2', 1, 30, NULL, CAST(11.00 AS Decimal(18, 2)), 2, NULL)
INSERT [dbo].[TenderChild] ([Id], [ItemCode], [CustomerId], [TenderId], [VehicleId], [Amount], [FleetServiceId], [TenderDetailId]) VALUES (286, N'FRH-1-3', 1, 30, NULL, CAST(11.00 AS Decimal(18, 2)), 3, NULL)
SET IDENTITY_INSERT [dbo].[TenderChild] OFF
SET IDENTITY_INSERT [dbo].[TenderDetail] ON 

INSERT [dbo].[TenderDetail] ([Id], [TenderId], [CustomerId], [DestinationToId], [DestinationToName], [DestinationFromId], [DestinationFromName], [ItemCode], [ProvinceId], [ProvinceName]) VALUES (90, 30, 1, 6, N'Karachi', 3, N'Lahore', N'FRH-1-1', 2, N'Singhi')
INSERT [dbo].[TenderDetail] ([Id], [TenderId], [CustomerId], [DestinationToId], [DestinationToName], [DestinationFromId], [DestinationFromName], [ItemCode], [ProvinceId], [ProvinceName]) VALUES (91, 30, 1, 7, N'Haidrabad', 3, N'Lahore', N'FRH-1-2', 2, N'Singhi')
INSERT [dbo].[TenderDetail] ([Id], [TenderId], [CustomerId], [DestinationToId], [DestinationToName], [DestinationFromId], [DestinationFromName], [ItemCode], [ProvinceId], [ProvinceName]) VALUES (92, 30, 1, 8, N'Kashmoor', 3, N'Lahore', N'FRH-1-3', 2, N'Singhi')
SET IDENTITY_INSERT [dbo].[TenderDetail] OFF
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([CompanyId], [BusinessUnitId], [Title], [UnitMeasure], [Abbreviation], [LastModifiedBy], [CreatedOn], [CreatedBy], [LastModifiedDate], [StatusId]) VALUES (1, 2, N'test', N'asdf', N'ISI', N'sir Qamar', CAST(N'2018-02-03 00:00:00.000' AS DateTime), N'Ibrahim', CAST(N'2016-03-04 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Units] ([CompanyId], [BusinessUnitId], [Title], [UnitMeasure], [Abbreviation], [LastModifiedBy], [CreatedOn], [CreatedBy], [LastModifiedDate], [StatusId]) VALUES (2, 3, N'tet1', N'3', N'KiloGram', N'Awais', CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'sir Usman', CAST(N'1900-01-01 00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Units] OFF
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [OldPassword], [NewPassword], [ConfirmPassword], [FirstName], [LastName], [Gender], [Role], [LastModifiedBy], [CreatedOn], [CreatedBy], [LastModifiedDate], [Password]) VALUES (1, N'qamar@gmail.com', N'qamar@gmail.com', N'malik333', N'malik333', N'malik333', N'Qamar', N'Hussain', N'Male', N'admin', 1, CAST(N'2019-01-01 00:00:00.000' AS DateTime), 1, CAST(N'2019-01-01 00:00:00.000' AS DateTime), N'malik333')
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [OldPassword], [NewPassword], [ConfirmPassword], [FirstName], [LastName], [Gender], [Role], [LastModifiedBy], [CreatedOn], [CreatedBy], [LastModifiedDate], [Password]) VALUES (2, N'shoaib@gmail.com', N'shoaib@gmail.com', N'shoaib333', N'shoaib333', N'shoaib333', N'Shoaib', N'Khan', N'Male', N'admin', 1, CAST(N'2019-01-01 00:00:00.000' AS DateTime), 1, CAST(N'2019-01-01 00:00:00.000' AS DateTime), N'shoaib333')
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [OldPassword], [NewPassword], [ConfirmPassword], [FirstName], [LastName], [Gender], [Role], [LastModifiedBy], [CreatedOn], [CreatedBy], [LastModifiedDate], [Password]) VALUES (3, N'farhad@gmail.com', N'farhad@gmail.com', N'farhad333', N'farhad333', N'farhad333', N'Farhad', N'Khan', N'Male', N'admin', 1, CAST(N'2019-01-01 00:00:00.000' AS DateTime), 1, CAST(N'2019-01-01 00:00:00.000' AS DateTime), N'farhad333')
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([Id], [Type], [Weight], [Title], [BusinessUnitId], [CompanyId], [CreatedOn], [CreatedBy], [LastModifiedBy], [StatusId], [LastModifiedDate]) VALUES (1, N'truck', N'1000kg', N'Shahzor', 1, 1, CAST(N'2019-07-25 13:34:45.153' AS DateTime), N'1', NULL, 1, NULL)
INSERT [dbo].[Vehicles] ([Id], [Type], [Weight], [Title], [BusinessUnitId], [CompanyId], [CreatedOn], [CreatedBy], [LastModifiedBy], [StatusId], [LastModifiedDate]) VALUES (2, N'car', N'500kg', N'Car', 1, 1, CAST(N'2019-07-25 13:37:31.667' AS DateTime), N'1', N'1', 1, CAST(N'2019-07-25 13:37:31.667' AS DateTime))
INSERT [dbo].[Vehicles] ([Id], [Type], [Weight], [Title], [BusinessUnitId], [CompanyId], [CreatedOn], [CreatedBy], [LastModifiedBy], [StatusId], [LastModifiedDate]) VALUES (3, N'Car', N'4447', N'Fortune', 1, 1, CAST(N'2019-07-26 10:37:56.297' AS DateTime), N'1', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
SET IDENTITY_INSERT [dbo].[Vendor] ON 

SET IDENTITY_INSERT [dbo].[Vendor] OFF
SET IDENTITY_INSERT [dbo].[VendorQuotation] ON 

INSERT [dbo].[VendorQuotation] ([VendorQuotationId], [BusinessUnitId], [CompanyId], [VendorId], [TenderId], [StatusId], [LastModifiedBy], [LastModifiedDate], [CreatedOn], [CreatedBy]) VALUES (1, 1, 1, 1, 31, 1, N'1', CAST(N'2019-08-21 11:57:11.617' AS DateTime), CAST(N'2019-08-21 01:01:05.257' AS DateTime), N'1')
INSERT [dbo].[VendorQuotation] ([VendorQuotationId], [BusinessUnitId], [CompanyId], [VendorId], [TenderId], [StatusId], [LastModifiedBy], [LastModifiedDate], [CreatedOn], [CreatedBy]) VALUES (2, 1, 1, 1, 33, 1, N'1', CAST(N'2019-08-21 11:59:29.460' AS DateTime), CAST(N'2019-08-21 11:58:54.763' AS DateTime), N'1')
INSERT [dbo].[VendorQuotation] ([VendorQuotationId], [BusinessUnitId], [CompanyId], [VendorId], [TenderId], [StatusId], [LastModifiedBy], [LastModifiedDate], [CreatedOn], [CreatedBy]) VALUES (1002, 1, 1, 2, 31, 1, N'1', CAST(N'2019-08-21 14:05:33.277' AS DateTime), CAST(N'2019-08-21 14:05:33.277' AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[VendorQuotation] OFF
SET IDENTITY_INSERT [dbo].[VendorQuotationChild] ON 

INSERT [dbo].[VendorQuotationChild] ([VendorQuotationChildId], [VendorQuotationId], [ItemCode], [Amount]) VALUES (22, 1, N'FRH-2-1', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[VendorQuotationChild] ([VendorQuotationChildId], [VendorQuotationId], [ItemCode], [Amount]) VALUES (23, 1, N'FRH-2-2', CAST(60.00 AS Decimal(18, 2)))
INSERT [dbo].[VendorQuotationChild] ([VendorQuotationChildId], [VendorQuotationId], [ItemCode], [Amount]) VALUES (24, 1, N'FRH-2-3', CAST(60.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[VendorQuotationChild] OFF
ALTER TABLE [dbo].[BusinessUnits]  WITH CHECK ADD  CONSTRAINT [FK_BusinessUnits_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[BusinessUnits] CHECK CONSTRAINT [FK_BusinessUnits_Company]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province]
GO
ALTER TABLE [dbo].[FinancialYearDefination]  WITH CHECK ADD  CONSTRAINT [FK_FinancialYearDefination_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[FinancialYearDefination] CHECK CONSTRAINT [FK_FinancialYearDefination_Company]
GO
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_Company1] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_Company1]
GO
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([Id])
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_Province]
GO
ALTER TABLE [dbo].[Tender]  WITH CHECK ADD  CONSTRAINT [FK_Tender_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Tender] CHECK CONSTRAINT [FK_Tender_Customers]
GO
ALTER TABLE [dbo].[TenderChild]  WITH CHECK ADD  CONSTRAINT [FK_TenderChild_FleetService] FOREIGN KEY([FleetServiceId])
REFERENCES [dbo].[FleetService] ([Id])
GO
ALTER TABLE [dbo].[TenderChild] CHECK CONSTRAINT [FK_TenderChild_FleetService]
GO
ALTER TABLE [dbo].[TenderChild]  WITH CHECK ADD  CONSTRAINT [FK_TenderChild_Tender] FOREIGN KEY([TenderId])
REFERENCES [dbo].[Tender] ([Id])
GO
ALTER TABLE [dbo].[TenderChild] CHECK CONSTRAINT [FK_TenderChild_Tender]
GO
ALTER TABLE [dbo].[TenderChild]  WITH CHECK ADD  CONSTRAINT [FK_TenderChild_TenderDetail] FOREIGN KEY([TenderDetailId])
REFERENCES [dbo].[TenderDetail] ([Id])
GO
ALTER TABLE [dbo].[TenderChild] CHECK CONSTRAINT [FK_TenderChild_TenderDetail]
GO
ALTER TABLE [dbo].[TenderChild]  WITH CHECK ADD  CONSTRAINT [FK_TenderChild_Vehicles] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([Id])
GO
ALTER TABLE [dbo].[TenderChild] CHECK CONSTRAINT [FK_TenderChild_Vehicles]
GO
ALTER TABLE [dbo].[TenderDetail]  WITH CHECK ADD  CONSTRAINT [FK_TenderDetail_Tender] FOREIGN KEY([TenderId])
REFERENCES [dbo].[Tender] ([Id])
GO
ALTER TABLE [dbo].[TenderDetail] CHECK CONSTRAINT [FK_TenderDetail_Tender]
GO
ALTER TABLE [dbo].[VendorQuotation]  WITH CHECK ADD  CONSTRAINT [FK_VendorQuotation_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[VendorQuotation] CHECK CONSTRAINT [FK_VendorQuotation_Company]
GO
ALTER TABLE [dbo].[VendorQuotation]  WITH CHECK ADD  CONSTRAINT [FK_VendorQuotation_Tender] FOREIGN KEY([TenderId])
REFERENCES [dbo].[Tender] ([Id])
GO
ALTER TABLE [dbo].[VendorQuotation] CHECK CONSTRAINT [FK_VendorQuotation_Tender]
GO
ALTER TABLE [dbo].[VendorQuotation]  WITH CHECK ADD  CONSTRAINT [FK_VendorQuotation_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[VendorQuotation] CHECK CONSTRAINT [FK_VendorQuotation_Vendor]
GO
ALTER TABLE [dbo].[VendorQuotationChild]  WITH CHECK ADD  CONSTRAINT [FK_VendorQuotationChild_VendorQuotation] FOREIGN KEY([VendorQuotationId])
REFERENCES [dbo].[VendorQuotation] ([VendorQuotationId])
GO
ALTER TABLE [dbo].[VendorQuotationChild] CHECK CONSTRAINT [FK_VendorQuotationChild_VendorQuotation]
GO
ALTER TABLE [dbo].[VendorQuotationDetail]  WITH CHECK ADD  CONSTRAINT [FK_VendorQuotationDetail_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[VendorQuotationDetail] CHECK CONSTRAINT [FK_VendorQuotationDetail_Vendor]
GO
ALTER TABLE [dbo].[VendorQuotationDetail]  WITH CHECK ADD  CONSTRAINT [FK_VendorQuotationDetail_VendorQuotation] FOREIGN KEY([VendorQuotationId])
REFERENCES [dbo].[VendorQuotation] ([VendorQuotationId])
GO
ALTER TABLE [dbo].[VendorQuotationDetail] CHECK CONSTRAINT [FK_VendorQuotationDetail_VendorQuotation]
GO
USE [master]
GO
