<section class="content">
  <section class="content-header">
    <h1>
      Change Password

    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>

      <li class="active">Listing</li>
    </ol>
  </section>
  <div col-md-12>
    <form name="formGroup" [formGroup]="form" novalidate (ngSubmit)="updatePassword()">
      <div class="box box-primary">
        <div class="col col-md-4">
          <div class="form-group">
            <label style="margin-top: 6px;">Old Password</label>
            <input formControlName="oldPassword" type="password" class="form-control">
            <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
              <div *ngIf="oldPassword.errors.required"> Old Password is required.</div>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label style="margin-top: 6px;">New Password</label>
            <input formControlName="newPassword" type="password" class="form-control">
            <!-- <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
              <div *ngIf="newPassword.errors.required"> New Password is required.</div>
            </div> -->
          </div>
        </div>

        <div class="col col-md-4">
          <div class="form-group">
            <label style="margin-top: 6px;">Confirm Password</label>
            <input formControlName="confirmPassword" type="password" class="form-control">
            <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
              <div *ngIf="confirmPassword.errors.required"> Confirm Password is required.</div>
            </div>
            <div *ngIf="confirmPassword.touched &&  form.invalid && form.hasError('passwordMatch')"
              class="alert alert-danger">
              Passwords do not match.
            </div>
          </div>
        </div>


        <button class="btn-genx" [disabled]="form.invalid" style="margin-top: 30px;"> Change Password</button>
      </div>
      <ngx-ui-loader></ngx-ui-loader>
    </form>
  </div>
</section>