<section class="content-header">
  <h1>
    PICKUP LISTING
    <small>
      <button class="btn-wms" (click)="redirectToCreateDispatch()"><i class="fa fa-plus-circle"></i></button>
    </small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink="[this.routesList.DISPATCH_LISTING]">Pickups</a></li>
    <li class="active">Listing</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <!-- <h3 class="box-title">Hover Data Table</h3> -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-12 table-responsive" id="myTable">
                <nav>
                  <ol class="breadcrumb" style="font-size: 1.3em; width: 58%; 
                      background-color: #6c757d;">
                    <li class="breadcrumb-item">
                      <a (click)="downloadCSV(this.dispatchList, 'dispatch-list.csv')" style="color: white;">
                        Download CSV</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a (click)="exportExcel('dispatch-list.xlsx', 'tbl', 'Dispatch List')" style="color: white;">
                        Download Excel</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a (click)="createPdf('dispatch-list.pdf', '#tbl')" style="color: white;">Export To PDF</a>
                    </li>
                    <li>
                      <button
                        [printStyle]="{table : {'font-size': '10px'},body : {'padding': '20px','font-size': '12px'}}"
                        class="btn-genx hidden-print print-btn" printTitle="Sales Invoice" [useExistingCss]="true"
                        ngxPrint printSectionId="myTable">
                        Print
                      </button>
                    </li>
                    <li class="breadcrumb-item dropdown">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">
                        Column Hidden
                      </a>
                      <div class="dropdown-menu" style="background-color: #007bff; 
                          width: 200px !important; min-width: 200px; max-width: 200px; text-align: center">
                        <a class="dropdown-item" (click)="HideShow('0')" data-column="0" style="color: white;">
                          Customer
                        </a><br>
                        <a class="dropdown-item ml-3" (click)="HideShow('1')" data-column="1" style="color: white;">
                          Customer Order No
                        </a><br>
                        <a class="dropdown-item ml-3" (click)="HideShow('2')" data-column="1" style="color: white;">
                          Address
                        </a><br>
                        <a class="dropdown-item ml-3" (click)="HideShow('3')" data-column="2" style="color: white;">
                          Phone Number
                        </a><br>
                        <a class="dropdown-item" (click)="HideShow('4')" data-column="3"
                          style="color: white; text-align: center">
                          Gate Pass No
                        </a><br>
                      </div>
                    </li>
                  </ol>
                </nav>
                <table class="table table-bordered table-hover dataTable" role="grid" id="tbl">
                  <thead>
                    <tr role="row">
                      <th *ngIf="!hideShowList[0].status">
                        Customer
                      </th>
                      <th *ngIf="!hideShowList[1].status">
                        Customer Order No
                      </th>
                      <th *ngIf="!hideShowList[2].status">
                        Address
                      </th>
                      <th *ngIf="!hideShowList[3].status">
                        Phone Number
                      </th>
                      <th *ngIf="!hideShowList[4].status">
                        Gate Pass No
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" *ngFor="let dispatch of dispatchList">
                      <td *ngIf="!hideShowList[0].status">{{dispatch.AML_Customers.Name}}</td>
                      <td *ngIf="!hideShowList[1].status">{{dispatch.AML_PickupOrder.CustomerOrderNo}}</td>
                      <td *ngIf="!hideShowList[2].status">{{dispatch.Address}}</td>
                      <td *ngIf="!hideShowList[3].status">{{dispatch.PhoneNumber}}</td>
                      <td *ngIf="!hideShowList[4].status">{{dispatch.GatePassNo}}</td>
                    </tr>
                  </tbody>
                </table>
                <ngx-ui-loader></ngx-ui-loader>
              </div>
            </div>
     
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>