span.help-block{
    color:red;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toggle-label{
    margin-top: 10px;
    margin-right: -10px;
    color: green;
    font-size: 15px;
}




