
<section class="content">
    <section class="content-header">
        <h1>
          PROVINCE CREATE
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="[this.routesList.PROVINCE_LISTING]">Provinces</a></li>
          <li class="active">Create</li>
        </ol>
      </section>
    <div col-md-12>
      <form name="formGroup" [formGroup]="formGroup" novalidate (ngSubmit)="createProvince(formGroup.value)">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="form-group  pull-right">
                <button type="button" (click)="redirectToProvinceList()" class="btn-wms">Province Listing</button>

            </div>
          </div>
          <div class="box-body">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" formControlName="Name" class="form-control input-sm" placeholder="Enter Province name">
                  <span class="help-block" *ngIf="formGroup.controls.Name.invalid">
                    {{getErrorMessage('Name')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Abberivation</label>
                  <input type="text" formControlName="Abbreviation" class="form-control input-sm" placeholder="Enter Province abbreviation">
                  <span class="help-block" *ngIf="formGroup.controls.Abbreviation.invalid">
                    {{getErrorMessage('Abbreviation')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  
                </div>
              </div>
            </div>

          </div>
          <div class="box-footer">
              <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success pull-right">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
