
<section class="content">
    <section class="content-header">
        <h1>
          CUSTOMER CREATE
         
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class=""></i> Home</a></li>
          <li><a routerLink="[this.routesList.CUSTOMER_CREATE]">Customers</a></li>
          <li class="active">Create</li>
        </ol>
      </section>
    <div col-md-12>
      <form name="formGroup" [formGroup]="formGroup" novalidate (ngSubmit)="createCustomer(formGroup.value)">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="form-group  pull-right">
              <button type="button" (click)="redirectToCustomerList()" class="btn btn-wms-head">Customer Listing</button>
            </div>
          </div>
          <div class="box-body">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Customer Name</label>
                  <input type="text" formControlName="Name" class="form-control input-sm" placeholder="Enter Customer name">
                  <span class="help-block" *ngIf="formGroup.controls.Name.invalid">
                    {{getErrorMessage('Name')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Customer type</label>
                  <select formControlName="Type" class="form-control input-sm">
                    <option selected value="">Select one</option>
                    <option *ngFor="let custType of constantList.CUSTOMER_TYPES" [value]="custType.value">
                      {{custType.name}}
                    </option>
                  </select>
                  <span class="help-block" *ngIf="formGroup.controls.Type.invalid">
                    {{getErrorMessage('Type')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Business Line</label>
                  <select class="form-control input-sm" formControlName="CustomerBusinessLineId" disabled="disabled">
                    <option selected value="">Select one</option>
                    <option *ngFor="let custBusinessLine of customerBusinessLineKeyPair"
                      [value]="custBusinessLine.Value">
                      {{custBusinessLine.Text}}
                    </option>
                  </select>
                  <span class="help-block" *ngIf="formGroup.controls.CustomerBusinessLineId.invalid">
                    {{getErrorMessage('CustomerBusinessLineId')}}
                  </span>
                </div>
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">CNIC No</label>
                  <input type='text' formControlName="CNIC" class="form-control input-sm" placeholder="Ex. 35202-4846412-1"  mask="00000-0000000-0">
                  <span class="help-block" *ngIf="formGroup.controls.CNIC.invalid">
                    {{getErrorMessage('CNIC')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">Contact Person</label>
                  <input type="text" formControlName="ContactPerson" class="form-control input-sm"
                    placeholder="Enter contact person name">
                  <span class="help-block" *ngIf="formGroup.controls.ContactPerson.invalid">
                    {{getErrorMessage('ContactPerson')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">

                  <label for="exampleInputPassword1">Mobile</label>
                  
                     <input type='text' formControlName="Mobile" class="form-control input-sm" placeholder="Ex. 0320-4841304"  mask="0000-0000000">
                  
                  <span class="help-block" *ngIf="formGroup.controls.Mobile.invalid">
                    {{getErrorMessage('Mobile')}}
                  </span>
                </div>
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Landline</label>
                  <input type='text' formControlName="Phone" class="form-control input-sm" placeholder="Ex. 0423-4841304"  mask="0000-0000000">
                  <span class="help-block" *ngIf="formGroup.controls.Phone.invalid">
                    {{getErrorMessage('Phone')}}
                  </span>
                </div>
  
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Fax no</label>
                  <input type='text' formControlName="FaxNo" class="form-control input-sm" placeholder="Enter Fax no"  mask="0000-0000000">
                  <span class="help-block" *ngIf="formGroup.controls.FaxNo.invalid">
                    {{getErrorMessage('FaxNo')}}
                  </span>
                </div>
  
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Account No/Remarks</label>
                  <input type="text" class="form-control input-sm" formControlName="AccountNo" placeholder="Enter account no">
                  <span class="help-block" *ngIf="formGroup.controls.AccountNo.invalid">
                    {{getErrorMessage('AccountNo')}}
                  </span>
                </div>
  
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="col-md-4">
  
                <div class="form-group">
                  <label for="exampleInputPassword1">Email</label>
                  <input type="text" class="form-control input-sm" formControlName="Email" placeholder="Enter Email id">
                  <span class="help-block" *ngIf="formGroup.controls.Email.invalid">
                    {{getErrorMessage('Email')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
  
                <div class="form-group">
                  <label for="exampleInputPassword1">Credit Limit</label>
                  <input type="text" class="form-control input-sm" formControlName="CreditLimit" placeholder="Enter Credit limit">
                  <span class="help-block" *ngIf="formGroup.controls.CreditLimit.invalid">
                    {{getErrorMessage('CreditLimit')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
  
                <div class="form-group">
                  <label for="exampleInputPassword1">NTN No</label>
                  <input type="text" formControlName="NTN" class="form-control input-sm" placeholder="Enter NTN no">
                  <span class="help-block" *ngIf="formGroup.controls.NTN.invalid">
                    {{getErrorMessage('NTN')}}
                  </span>
                </div>
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>STRN No</label>
                  <input type="text" formControlName="STRN" class="form-control input-sm" placeholder="Enter STRN no">
                  <span class="help-block" *ngIf="formGroup.controls.STRN.invalid">
                    {{getErrorMessage('STRN')}}
                  </span>
                </div>
  
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">Country</label>
                  <input type="text" class="form-control input-sm" disabled="disabled" formControlName="Country"
                    placeholder="Pakistan">
                  <span class="help-block" *ngIf="formGroup.controls.Country.invalid">
                    {{getErrorMessage('Country')}}
                  </span>
                </div>
  
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Province</label>
                  <ng-multiselect-dropdown [placeholder]="'Select one'"
                  [data]="provencesKeyPair" [settings]="provinceDropdownSettings"
                  formControlName="ProvinceId"
                  (onSelect)="getProvinceValue($event)">
                  </ng-multiselect-dropdown>
                  <span class="help-block" *ngIf="formGroup.controls.ProvinceId.invalid">
                    {{getErrorMessage('ProvinceId')}}
                  </span>
                </div>
              </div>
              
            </div>
  
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group ">
                  <label>Region</label>
                  <ng-multiselect-dropdown  [placeholder]="'Select one'" [data]="regionKeyPair"
                  [settings]="regionDropdownSettings" formControlName="RegionId"
                  (onSelect)="getRegionValue($event)">
                </ng-multiselect-dropdown>
                  <span class="help-block" *ngIf="formGroup.controls.RegionId.invalid">
                    {{getErrorMessage('RegionId')}}
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group ">
                  <label>Zone</label>
                  <ng-multiselect-dropdown [placeholder]="'Select one'"
                  [data]="zoneKeyPair" [settings]="zoneDropdownSettings"
                  formControlName="ZoneId"
                  (onSelect)="getZoneValue($event)">
                  </ng-multiselect-dropdown>
                  <span class="help-block" *ngIf="formGroup.controls.ZoneId.invalid">
                    {{getErrorMessage('ZoneId')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>City</label>
                  <ng-multiselect-dropdown  
                  [placeholder]="'Select one'"
                  [data]="cityKeyPair"
                  [settings]="cityDropdownSettings"
                  formControlName="CityId"
                  (onSelect)="getCityValue($event)">
                  
                </ng-multiselect-dropdown>
                  <span class="help-block" *ngIf="formGroup.controls.CityId.invalid">
                    {{getErrorMessage('CityId')}}
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">Address</label>
                  <input type="text" formControlName="Address" class="form-control input-sm" placeholder="Enter address">
                  <span class="help-block" *ngIf="formGroup.controls.Address.invalid">
                    {{getErrorMessage('Address')}}
                  </span>
                </div>
              </div>
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">Discount %</label>
                  <input type="text" class="form-control input-sm" formControlName="Discount" placeholder="Enter discount">
                  <span class="help-block" *ngIf="formGroup.controls.Discount.invalid">
                    {{getErrorMessage('Discount')}}
                  </span>
                </div>
              </div> -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Abbreviation</label>
                  <input type="text" class="form-control input-sm" minlength="3" maxlength="3" formControlName="Abbreviation" placeholder="Enter Abbreviation">
                  <span class="help-block" *ngIf="formGroup.controls.Abbreviation.invalid">
                    {{getErrorMessage('Abbreviation')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                
              </div>
              <div class="col-md-4">
                
              </div>
            </div>
          </div>
          <div class="box-footer">
              
              <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success pull-right">Add</button>
          </div>
        </div>
      </form>
    </div>
  </section>
