
<section class="content">
    <section class="content-header">
        <h1>
          CHAMBER EDIT
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="[this.routesList.GODWOM_LISTING]">Chamber</a></li>
          <li class="active">Create</li>
        </ol>
      </section>
    <div col-md-12>
      <form name="formGroup" [formGroup]="formGroup" novalidate (ngSubmit)="updateGodwom(formGroup.value)">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="form-group  pull-right">
                <button type="button" (click)="redirectToGodwomList()" class="btn-wms">Chamber Listing</button>
            </div>
          </div>
          <div class="box-body">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" formControlName="Name" class="form-control input-sm" placeholder="Enter Chamber Name">
                  <span class="help-block" *ngIf="formGroup.controls.Name.invalid">
                    {{getErrorMessage('Name')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Abberivation</label>
                  <input type="text" formControlName="Abbreviation" class="form-control input-sm" placeholder="Enter Chamber Abbreviation">
                  <span class="help-block" *ngIf="formGroup.controls.Abbreviation.invalid">
                    {{getErrorMessage('Abbreviation')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Warehouse</label>
                  <ng-multiselect-dropdown  
                  [placeholder]="'Select one'"
                  [data]="warehouseKeyPair"
                  formControlName="WarehouseId"
                  [settings]="warehouseDropdownSettings"
                  (onSelect)="warehouseChange($event)"
                  [(ngModel)]="selectedWarehouseInfo"
                  >
                </ng-multiselect-dropdown>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Chamber Type</label>
                  <ng-multiselect-dropdown  
                  [placeholder]="'Select one'"
                  [data]="godwomTypeKeyPair"
                  formControlName="GodwomTypeId"
                  [settings]="godwomTypeDropdownSettings"
                  (onSelect)="godwomTypeChange($event)"
                  [(ngModel)]="selectedGodwomTypeInfo"
                  >
                </ng-multiselect-dropdown>
                </div>
              </div>
              <div class="col-md-8">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Width</label>
                    <input type="number" formControlName="Width" class="form-control input-sm" >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Height</label>
                    <input type="number" formControlName="Height" class="form-control input-sm">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Depth</label>
                    <input type="number" formControlName="Dept" class="form-control input-sm">
                  </div>
                </div>
              
              </div>
            </div>
          </div>
          <div class="box-footer">
              <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success pull-right">Update</button>
          </div>
        </div>
      </form>
      <ngx-ui-loader></ngx-ui-loader>
    </div>
  </section>
