<section class="content">
    <section class="content-header">
        <h1>
          AISLE / ROW EDIT
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="[this.routesList.GODOWN_ROW_LISTING]">AISLE / ROW Listing</a></li>
          <li class="active">Edit</li>
        </ol>
      </section>
    <div col-md-12>
      <form name="formGroup" [formGroup]="formGroup" novalidate (ngSubmit)="updateGodownRow(formGroup.value)">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="form-group  pull-right">
                <button type="button" (click)="redirectToGodownRowList()" class="btn-wms">AISLE / ROW Listing</button>
            </div>
          </div>
          <div class="box-body">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" formControlName="Name" class="form-control input-sm" placeholder="Enter AISLE / ROW Name">
                  <span class="help-block" *ngIf="formGroup.controls.Name.invalid">
                    {{getErrorMessage('Name')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Alias</label>
                  <input type="text" formControlName="Alias" class="form-control input-sm" placeholder="Enter AISLE / ROW Alias">
                  <span class="help-block" *ngIf="formGroup.controls.Alias.invalid">
                    {{getErrorMessage('Alias')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Chamber</label>
                  <ng-multiselect-dropdown  
                  [placeholder]="'Select one'"
                  [data]="godownKeyPair"
                  [settings]="godownDropdownSettings"
                  (onSelect)="godownChange($event)"
                  [(ngModel)]="selectedGodwomInfo"
                  formControlName="GodwomId"
                  >
                </ng-multiselect-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
              <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success pull-right">Update</button>
          </div>
        </div>
      </form>
      <ngx-ui-loader></ngx-ui-loader>
    </div>
  </section>
