.login-aml {
    background-image: url("/assets/images/photo2.png");
    position: fixed;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;

}

.myBtnLink:focus { 
    border: none;
    outline: none; 
}