<section class="content">
  <section class="content-header">
    <h1>
      SKU INFORMATION EDIT
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="[this.routesList.ITEM_LISTING]">Sku Information</a></li>
      <li class="active">Create</li>
    </ol>
  </section>
  <div col-md-12>
    <form name="formGroup" [formGroup]="formGroup" novalidate (ngSubmit)="updateItemInformation(formGroup.value)">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="form-group  pull-right">
            <button type="button" (click)="redirectToItemInformationList()" class="btn-wms">Sku Information
              Listing</button>
          </div>
        </div>
        <div class="box-body">

          <!-- <div class="col-md-12">
            <div class="col-md-4">
              <div class="form-group">
                <label>Customer</label>
                <ng-multiselect-dropdown [placeholder]="'Select one'" 
                [data]="customerKeyPair" [settings]="customerDropdownSettings"
                  (onDeSelect)="onDropDownDeSelect($event,'selectedCustomer')"
                  (onSelect)="onDropDownSelect($event,'selectedCustomer')">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Category</label>
                <ng-multiselect-dropdown [placeholder]="'Select one'" 
                formControlName="CategoryId"
                [data]="categoryKeyPair" [settings]="itemCategoryDropdownSettings"
                  (onDeSelect)="onDropDownDeSelect($event,'selectedCategory')"
                  (onSelect)="onDropDownSelect($event,'selectedCategory')">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Brand</label>
                <ng-multiselect-dropdown [placeholder]="'Select one'" 
                formControlName="BrandId"
                [data]="brandKeyPair" [settings]="itemBrandDropdownSettings"
                  (onDeSelect)="onDropDownDeSelect($event,'selectedBrand')"
                   (onSelect)="onDropDownSelect($event,'selectedBrand')">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div> -->

          <div class="col-md-12">
            <!-- <div class="col-md-4">
              <div class="form-group">
                <label>Sku Code</label>
                <input type="text" formControlName="ItemCode" class="form-control input-sm" placeholder="Sku Code" readonly>
              </div>
            </div> -->
            <div class="col-md-4">
              <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="Name" class="form-control input-sm" placeholder="Enter Name">
                <span class="help-block" *ngIf="formGroup.controls.Name.invalid">
                  {{getErrorMessage('Name')}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Unit of Measure</label>
                <ng-multiselect-dropdown [placeholder]="'Select one'" [data]="unitOfMeasureKeyPair"
                  [settings]="unitOfMeasureBrandDropdownSettings"
                  (onDeSelect)="onDropDownDeSelect($event,'selectedUnitOfMeasure')"
                  (onSelect)="onDropDownSelect($event,'selectedUnitOfMeasure')" formControlName="unitId"
                  [(ngModel)]="selectedUnitInfo">
                </ng-multiselect-dropdown>
                <span class="help-block" *ngIf="formGroup.controls.unitId.invalid">
                  {{getErrorMessage('unitId')}}
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-md-4">
              <div class="form-group">
                <label>Height (Inch)</label>
                <input type="text" formControlName="Height" class="form-control input-sm" placeholder="Enter Height">
                <span class="help-block" *ngIf="formGroup.controls.Height.invalid">
                  {{getErrorMessage('Height')}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Width (Inch)</label>
                <input type="text" formControlName="Width" class="form-control input-sm" placeholder="Enter Width">
                <span class="help-block" *ngIf="formGroup.controls.Width.invalid">
                  {{getErrorMessage('Width')}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Length (Inch)</label>
                <input type="text" formControlName="Length" class="form-control input-sm" placeholder="Enter Length">
                <span class="help-block" *ngIf="formGroup.controls.Length.invalid">
                  {{getErrorMessage('Length')}}
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-md-4">
              <div class="form-group">
                <label>Weight (KG)</label>
                <input type="text" formControlName="Weight" class="form-control input-sm" placeholder="Enter Weight">
                <span class="help-block" *ngIf="formGroup.controls.Weight.invalid">
                  {{getErrorMessage('Weight')}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Min Stock Level</label>
                <input type="text" formControlName="MinStockLevel" class="form-control input-sm"
                  placeholder="Enter Min Stock Level">
                <span class="help-block" *ngIf="formGroup.controls.MinStockLevel.invalid">
                  {{getErrorMessage('MinStockLevel')}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Max Stock Level</label>
                <input type="text" formControlName="MaxStockLevel" class="form-control input-sm"
                  placeholder="Enter Max Stock Level">
                <span class="help-block" *ngIf="formGroup.controls.MaxStockLevel.invalid">
                  {{getErrorMessage('MaxStockLevel')}}
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-md-4">
              <div class="form-group">
                <label>Quantity In Packing</label>
                <input type="text" formControlName="QuantityInPacking" class="form-control input-sm"
                  placeholder="Enter Quantity In Packing">
                <span class="help-block" *ngIf="formGroup.controls.QuantityInPacking.invalid">
                  {{getErrorMessage('QuantityInPacking')}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Price</label>
                <input type="text" formControlName="Price" class="form-control input-sm" placeholder="Enter Price">
                <span class="help-block" *ngIf="formGroup.controls.Price.invalid">
                  {{getErrorMessage('Price')}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Customer Sku Code </label>
                <input type="text" formControlName="Description" class="form-control input-sm"
                  placeholder="Enter Description">
                <span class="help-block" *ngIf="formGroup.controls.Description.invalid">
                  {{getErrorMessage('Description')}}
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-md-4">
              <div class="form-group">
                <label>Remarks</label>
                <textarea formControlName="Remarks" class="form-control input-sm"></textarea>
                <span class="help-block" *ngIf="formGroup.controls.Remarks.invalid">
                  {{getErrorMessage('Remarks')}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
          </div>

        </div>

      </div>
      <div class="box-footer">
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success pull-right">Update</button>
      </div>
    </form>
    <ngx-ui-loader></ngx-ui-loader>
  </div>
</section>