<section class="content">
    <section class="content-header">
        <h1>
          SKU BRAND EDIT
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="[this.routesList.ITEM_BRAND_LISTING]">SKU Brand</a></li>
          <li class="active">Create</li>
        </ol>
      </section>
  <div col-md-12>
    <form name="formGroup" [formGroup]="formGroup" novalidate (ngSubmit)="updateBrand(formGroup.value)">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="form-group  pull-right">
            <button type="button" (click)="redirectToItemBrandList()" class="btn-wms">SKU Brand Listing</button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <!-- <div class="col-md-4">
              <div class="form-group">
                <label>Customer</label>
                <ng-multiselect-dropdown [placeholder]="'Select one'" [data]="customerKeyPair"
                  [settings]="customerDropdownSettings"
                  (onSelect)="customerChange($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Category</label>
                <ng-multiselect-dropdown [placeholder]="'Select one'" [data]="categoryKeyPair"
                  [settings]="categoryDropdownSettings" (onDeSelect)="onCategoryDeSelect($event)"
                  (onSelect)="categoryChange($event)">
                </ng-multiselect-dropdown>
              </div>
            </div> -->
            <div class="col-md-4">
              <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="Name" class="form-control input-sm" placeholder="Enter Name">
                <span class="help-block" *ngIf="formGroup.controls.Name.invalid">
                  {{getErrorMessage('Name')}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" formControlName="Description" class="form-control input-sm" placeholder="Enter Description">
                  <span class="help-block" *ngIf="formGroup.controls.Description.invalid">
                    {{getErrorMessage('Description')}}
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Shelf Life</label>
                  <input type="number" formControlName="ShelfLife" class="form-control input-sm" placeholder="Enter ShelfLife in Days">
                  <span class="help-block" *ngIf="formGroup.controls.ShelfLife.invalid">
                    {{getErrorMessage('ShelfLife')}}
                  </span>
                </div>
              </div>
          </div>

          <div class="col-md-12">
           
            <!-- <div class="col-md-4">
              <div class="form-group">
                <label>SKU Brand Code</label>
                <input type="text" formControlName="ItemBrandCode" class="form-control input-sm" readonly placeholder="Code">
              </div>
            </div> -->
            <div class="col-md-4">
            </div>
          </div>

        </div>
        <div class="box-footer">
            <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success pull-right">Update</button>
          </div>
      </div>
      <ngx-ui-loader></ngx-ui-loader>
  </form>
  </div>
</section>