

<section class="content">
    <section class="content-header">
        <h1>
          Region LISTING
          <small>
            <button class="btn-wms" (click)="redirectToCreateRegion()"><i class="fa fa-plus-circle"></i></button>
          </small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="[this.routesList.REGION_LISTING]">Region</a></li>
          <li class="active">Listing</li>
        </ol>
      </section>

      <div class="pull-right">
        <button class="btn-excel" (click)="exportServiceAsExcel()"><i class="fa fa-file-excel-o"></i></button>
      </div>
      
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header">
          <!-- <h3 class="box-title">Hover Data Table</h3> -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-12 table-responsive">
                <table class="table table-bordered table-hover dataTable" role="grid">
                  <thead>
                    <tr role="row">
                      <th>
                        Sr.
                      </th>
                      <th>
                        Region Name
                      </th>
                      <th>
                        Province
                      </th>
                      <th>
                          Status
                        </th>
                      <th>
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" *ngFor="let region of regionList; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{region.Name}}</td>
                      <td>{{region.AML_Province.Name}}</td>
                      <td>
                          <span *ngIf="IsStatisActive(region.StatusId); else inactive_span" class="label label-success">Active</span>
                          <ng-template #inactive_span>  <span class="bg-red label">In Active</span></ng-template>
                      </td>
                      <td>
                        <button type="button" id="update" class="editBtn btn-warning" (click)="Edit(region.RegionId)"><i
                            class="fa fa-edit"></i></button>
                      </td>
                    </tr>
                  </tbody>
                  <ngx-ui-loader></ngx-ui-loader>
                </table>
              </div>
            </div>
     
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>