<section class="content">
    <section class="content-header">
      <h1>
        CREATE ZONE
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a routerLink="[this.routesList.ZONE_LISTING]">Zone</a></li>
        <li class="active">Create</li>
      </ol>
    </section>
    
    <div col-md-12>
      <form name="formGroup" [formGroup]="formGroup" novalidate (ngSubmit)="createZone(formGroup.value)">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="form-group  pull-right">
                <button type="button" (click)="redirectToZoneList()" class="btn-wms">Zone Listing</button>
            </div>
          </div>
          <div class="box-body">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Province</label>
                  <ng-multiselect-dropdown [placeholder]="'Select one'"
                  [data]="provencesKeyPair" [settings]="provinceDropdownSettings"
                  formControlName="ProvinceId"
                  (onSelect)="getProvinceValue($event)">
                  </ng-multiselect-dropdown>
                  <span class="help-block" *ngIf="formGroup.controls.ProvinceId.invalid">
                    {{getErrorMessage('ProvinceId')}}
                  </span>
                </div>
              </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Region</label>
                   
                    <ng-multiselect-dropdown [placeholder]="'Select one'"
                    [data]="regionKeyPair"
                    [settings]="regionDropdownSettings"
                    formControlName="RegionId"
                    (onSelect)="getRegionValue($event)">
                    </ng-multiselect-dropdown>
                    <span class="help-block" *ngIf="formGroup.controls.RegionId.invalid">
                      {{getErrorMessage('RegionId')}}
                    </span>
                  </div>
                </div>
              
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Zone Name</label>
                    <input type="text" formControlName="Name" class="form-control input-sm" placeholder="Enter Zone Name">
                    <span class="help-block" *ngIf="formGroup.controls.Name.invalid">
                      {{getErrorMessage('Name')}}
                    </span>
                  </div>
                </div>
            </div>
          </div>

          <div class="box-footer">
              <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success pull-right">S U B M I T</button>
          </div>
        </div>
      </form>
    </div>
  </section>
